@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       15px;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #0F2E3D;
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Noto+Sans&display=swap";
  --mono-font:       monospace;
  --body-font:       sans-serif;
  --navbar-font:     "Noto+Sans&display=swap";  /* websites + blogs only */
}

/*-- 文章資訊欄 --*/
d-byline {
  --heading-size:    17px;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       17px;
  --body-color:      rgba(0, 0, 0, 0.8);
}

div:nth-child(2) h3 {
  margin-top: 5px !important;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --heading-color:   #011280;
  --contents-size:   15px;
  --contents-color:  black;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       20px;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       22px;
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      #FFD600;
  --bkgd-color:       #0F2E3D;
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #0F2E3D;
}
